@import url('https://fonts.googleapis.com/css2?family=Gaegu&family=Hi+Melody&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background: #F4F5F7;
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    margin: 0 auto;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 104px;
    border: 1px solid #000000;
    border-width: 0px 0px 1px 0px;
}

.header-wrap {
    width: 544px;
    display: flex;
    justify-content: space-between;
}

.arrow-back {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-profile-img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.header-profile-img > img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
}

.header-title > h1 {
    font-family: "Gaegu", sans-serif;
    font-weight: 400;
    font-size: 32px;
    text-align: center;
}

.wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.content {
    width: 100%;
    max-width: 592px;
    text-align: center;
    margin-top: 24px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-right: auto;
    margin-left: 24px;
    margin-bottom: 10px;
}

.content > h2 {
    font-size: 24px;
    font-weight: 700;
}

.article-info {
    display: flex;
    width: 544px;
    align-items: center;
    margin-bottom: 20px;
}

.profile-img {
    width: 36px;
    height: 36px;
    background-color: #D9D9D9;
    border-radius: 50%;
    margin-right: 7px;
}

.writer-info {
    display: flex;
}

.writer {
    font-size: 15px;
    font-weight: 700;
    margin-right: 30px;
}

.datetime {
    font-size: 14px;
    font-weight: 400;
}

.btns {
    margin-left: auto;
}

.small-btn {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    width: 50px;
    height: 27px;
    border-radius: 8px;
    border: 1px solid #ACA0EB;
}

.article {
    width: 544px;
}

.content-img {
    width: 544px;
    height: 306px;
    background-color: #D9D9D9;
    margin-bottom: 20px;
}

.article > p {
    text-align: left;
    font-size: 15px;
    font-weight: 400;
}

.stats {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.stats-box {
    width: 116px;
    height: 77px;
    border-radius: 16px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
}

hr {
    width: 100%;
    border: 1px solid #00000029;
    margin-bottom: 20px;
}

.comment-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 592px;
    height: 169px;
    border-radius: 16px;
    background-color: #FFFFFF;
    margin-bottom: 20px;
}

.comment-register > textarea {
    width: 544px;
    height: 94px;
    font-size: 15px;
    font-weight: 400;
    margin-top: 20px;
    border: 0;
    resize: none;
}

#register-btn {
    width: 138px;
    height: 39px;
    border-radius: 16px;
    border: 0;
    background-color: #ACA0EB;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    margin-left: auto;
    margin-right: 24px;
    margin-bottom: 10px;
}

#comment-hr {
    margin-bottom: 10px;
}

.comment {
    display: flex;
    width: 544px;
    margin-bottom: 20px;
}

.comment-wrtier {
    display: flex;
    align-items: center;
}

.comment-content {
    text-align: left;
    padding-left: 42px;
    margin-top: 10px;
}

.article-modal{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

.comment-modal{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

.modal-body{
    position:absolute;
    width:408px;
    height:242px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 0;
    background-color: #FFFFFF;
    text-align: center;
}

.modal-body > p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.modal-btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.modal-btn {
    width: 127px;
    height: 44px;
    border-radius: 12px;
}

.cancel-btn {
    background: #242424;
    color: #FFFFFF;
    border: 0;
    margin-right: 5px;
}

.check-btn {
    background: #C4A5FA;
    border: 0;
    margin-left: 5px;
}

.article-modal.hidden {
    display: none;
}

.comment-modal.hidden {
    display: none;
}