@import url('https://fonts.googleapis.com/css2?family=Gaegu&family=Hi+Melody&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

body {
    background: #F4F5F7;
}

header {
    width: 100%;
    display: flex;
    justify-content : center;
    align-items : center;
    height: 104px;
    border: 1px solid #000000;
    border-width: 0px 0px 1px 0px;
}

.header-wrap {
    width: 544px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.arrow-back {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-profile-img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.header-profile-img > img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
}

.header-title > h1 {
    font-family: "Gaegu", sans-serif;
    font-weight: 400;
    font-size: 32px;
    text-align: center;
}

.dropdown-content {
    position: absolute;
    right: 0px;
    top: 50px;
    display: none;
}

.dropdown-content.active {
    display: block;
}

.dropdown-menu {
    width: 115px;
    height: 35px;
    background-color: #D9D9D9;
    display : flex;
    justify-content : center;
    align-items : center;
}

.dropdown-menu:hover {
    background-color: #E9E9E9;
}

.wrap {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modify-box {
    text-align: center;
}

.modify-box > h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
}

.profile {
    justify-content: center;
    width: 392px; 
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile > p {
    font-size: 15px;
    font-weight: 700;
    text-align: left;
    padding-left: 5px;
}

.profile-img {
    width: 149px;
    height: 149px;
    border-radius: 50%;
    background-image: url("/img/mang_gom_profile.png");
    background-size: cover;
    border: 1px solid #000000;
    background-color: #000000;
    opacity: 0.55;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modify-img-btn {
    color: #FFFFFF;
    background-color: #000000;
    opacity: 0.9;
    border: 1px solid #FFFFFF;
    border-radius: 25px;
    width: 52px;
    height: 27px;
}

.modify-input {
    justify-content: center;
    height: 221px;
    width: 392px; 
    display: flex;
    align-items: center;
    flex-direction: column;
}

#email {
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}

.input-box > p {
    text-align: left;
    font-size: 15px;
    font-weight: 700;
    padding-left: 5px;
    margin-bottom: 10px;
}

.input-box {
    width: 355px;
    margin-top: 10px;
}

.input-box > input {
    width: 355px;
    height: 33px;
    font-size: 14px;
    font-weight: 400;
    padding-left: 5px;
    border-radius: 4px;
    border: 1px;
    border: 1px solid #000000;
}

.helper-wrap {
    width: 355px;
    text-align: left;
}

.helper {
    color: #FF0000;
    font-size: 12px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 0;
}

#modify-btn {
    width: 355px;
    height: 33px;
    background-color: #ACA0EB;
    border-radius: 4px;
    border: 0;
    color: #FFFFFF;
    margin-top: 10px;
}

#withdraw {
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
    border: 0;
    background-color: transparent;
}

#toast-message {
    opacity: 0;
    width: 102px;
    height: 46px;
    border: 0;
    border-radius: 30px; 
    background-color: #ACA0EB;
    color: #FFFFFF;
    margin-top: 50px;
    display : flex;
    justify-content : center;
    align-items : center;
    transition: all 0.5s;
}

#toast-message.active {
    opacity: 100%;
}

.btns {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

.modal-body{
    position:absolute;
    width:408px;
    height:242px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 0;
    background-color: #FFFFFF;
    text-align: center;
}

.modal-body > p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.modal-btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.modal-btn {
    width: 127px;
    height: 44px;
    border-radius: 12px;
}

.cancel-btn {
    background: #242424;
    color: #FFFFFF;
    border: 0;
    margin-right: 5px;
}

.check-btn {
    background: #C4A5FA;
    border: 0;
    margin-left: 5px;
}

.modal.hidden {
    display: none;
}

.hidden {
    display: none;
}