@import url('https://fonts.googleapis.com/css2?family=Gaegu&family=Hi+Melody&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.container {
    width: 100%;
    height: 1080px;
    margin: 0 auto;
}

body {
    background: #F4F5F7;
}

header {
    width: 100%;
    display: flex;
    justify-content : center;
    align-items : center;
    height: 104px;
    border: 1px solid #000000;
    border-width: 0px 0px 1px 0px;
}

.header-wrap {
    width: 544px;
    display: flex;
    justify-content: space-between;
}

.arrow-back {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-profile-img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.header-profile-img > img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
}

.header-title > h1 {
    font-family: "Gaegu", sans-serif;
    font-weight: 400;
    font-size: 32px;
    text-align: center;
}

.wrap {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register-box {
    text-align: center;

}

.register-box > h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
}

.profile {
    justify-content: center;
    width: 392px; 
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.profile > p {
    font-size: 15px;
    font-weight: 700;
    text-align: left;
    padding-left: 5px;
}

.register-img-btn {
    font-size: 24px;
    border: 0;
    width: 149px;
    height: 149px;
    border-radius: 50%;
    background-color: #C4C4C4;
}

.modify-input {
    justify-content: center;
    width: 392px; 
    display: flex;
    align-items: center;
    flex-direction: column;
}

#email {
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}

.input-box > p {
    text-align: left;
    font-size: 15px;
    font-weight: 700;
    padding-left: 5px;
    margin-bottom: 10px;
}

.input-box {
    width: 355px;
    margin-top: 10px;
}

.input-box > input {
    width: 355px;
    height: 33px;
    font-size: 14px;
    font-weight: 400;
    padding-left: 5px;
    border-radius: 4px;
    border: 1px;
    border: 1px solid #000000;
}

.helper-wrap {
    width: 355px;
    text-align: left;
}

.helper {
    color: #FF0000;
    font-size: 12px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 0;
}

.register-btn {
    width: 355px;
    height: 33px;
    background-color: #7F6AEE;
    border-radius: 4px;
    border: 0;
    color: #FFFFFF;
    margin-top: 10px;
}

.register-btn.register-btn-disabled {
    background-color: #ACA0EB;
}

#login-btn {
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
}

#complete-btn {
    width: 102px;
    height: 46px;
    border: 0;
    border-radius: 30px; 
    background-color: #ACA0EB;
    color: #FFFFFF;
    margin-top: 50px;
}